BasedOnStyle: Google
IncludeBlocks: Merge
NamespaceIndentation: All
SortIncludes: CaseInsensitive
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
