#!/bin/bash

set -ue

clang_format=$(realpath {RELATIVE_CLANG_FORMAT_PATH})
source=$(realpath {RELATIVE_SOURCE_PATH})
result=$(realpath {RELATIVE_RESULT_PATH})

if [[ "{LINT_MODE}" == "overwrite" ]]; then
    $clang_format -i $source
else
    $clang_format --Werror --dry-run $source
fi

if [[ $? -eq 0 ]]; then
    echo "Successfully formatted $source" > $result
else
    echo "Failed to format $source" > $result
fi
